@ViewBag.key
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>user with database</p>
<p><i>@DateTime.Now.ToLongDateString()</i></p>
<p>@ViewBag.dulieu1</p>
<p>@ViewBag.dulieu2</p>

<!--_Layout.cshtml se copy nguyen trang nay va cho vao phan RenderBody() de hien thi-->